/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #000;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 120px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 15px;
}

nav .nav-links a:hover {
    color: #FFD700;
}

/* Hero Section */
#hero {
    background: url('https://github.com/TheLightningLord/TheLightningLord.github.io/raw/f22e24166d7d1887ac3e628eda5bd3b63152d6c3/Olympusbanner.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero .hero-content h1 {
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
}

#hero .hero-content p {
    font-size: 1.5em;
    margin: 20px 0;
}

.cta-button {
    padding: 15px 30px;
    background-color: #FFD700;
    color: #000;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #DAA520;
}

/* Services Section */
#services {
    padding: 60px 20px;
    background-color: #222;
    text-align: center;
}

#services h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FFD700;
}

#services p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #ccc;
}

.services-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: #333;
    padding: 20px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.service-item h3 {
    color: #FFD700;
}

.service-item p {
    color: #ddd;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer ul li a:hover {
    color: #FFD700;
}

footer p {
    margin-top: 10px;
}
